body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("https://res.cloudinary.com/coneaholic/image/upload/v1658162038/coneaholic/Screenshot_435_ntdkbc.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Alegreya Sans SC', sans-serif;
}