<% layout('layouts/boilerplate2')%>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://res.cloudinary.com/coneaholic/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1658144186/coneaholic/Screenshot_445_fyvsoc.png"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    
                    <form action="/register" method="post" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" autofocus required>
                            <div class="valid-feedback">
                                Filled!!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">email</label>
                            <input class="form-control" type="email" id="email" name="email" required>
                            <div class="valid-feedback">
                                Filled!!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Filled!!
                            </div>
                        </div>
                        <button class="btn btn-success" style="width:100%">Register</button>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>